<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array><string>processing</string></array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
        <string>local.keeps.thumbnail-prefetch</string>
        <string>com.hechuan.Keeps.thumbnail-download</string>
    </array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>连接局域网中的 NAS 服务，浏览和整理照片。</string>
</dict>
</plist>
